body{
  margin: 0;
background-color: #7cbed754;
}
header{
  background-color: #9a879f8b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
}
header a{
  text-decoration: none;
  color: #e7823f;
}
header ul{
  list-style: none;
  display: flex;
}
header li{
  margin: 0.5rem;
}
.ham {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 4rem;
display:none;
}
.ham span{
  width: 80%;
  height: 0.3rem;
  background-color: white;
  border-radius: 4px;
  
}
main{
  width: 80%;
  margin: 2rem auto;
}
h1{
  text-align: center;
  color: #fda41d;
  font-size: 3rem;
}
#food-menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: center;
}
#food-menu li{
  background-color: #85d382;
  font-size: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 3rem;
}
#food-menu a{
  background-color: #9e5050;
  padding: 1.5rem;
  border-right: 6px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}
li img{
  height: 27rem;
  width: 100%;
  object-fit: cover;
}
#inside-ham{
  position: fixed;
  background-color: #60612e;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}
#inside-ham:target{
  display:block;
}
@media(max-width:48rem){
  nav{
    display: none;
  }
  .ham{
    display: flex;
  }
  #food-menu ul{
 
    grid-template-columns: 100%;
  }
}